<h1>Add a new Cd to @Model.GetName()</h1>
<form action='/cds' method='post'>
  <input id='artistId' name='artistId' type='hidden' value='@Model.GetId()'>
  <button type='submit'>Add title</button>
</form>>
