<h1>CD Organizer</h1>
<ul>
  @foreach (var cd in Model)
  {
    <li><a href='/artists/@Model.GetId()/cds/@cd.GetId()'>@cd.GetTitle()</a></li>
  }
</ul>
<a href='/items/new'>Add new item</a>
<form action="/items/delete" method="post">
<button type="submit" name="button">Clear all</button>
</form>
